html,
body {
  width: 100%;
  height: 100%;
  --line_color: #bcb8b8;
  --jungle_color: #05d182;
}

body .container {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: black;
  grid-template-columns: auto 1500px auto;
}

body .container .center {
  grid-column-start: 2;
  grid-column-end: 3;
  border-left: 2px solid #bcb8b8;
  border-right: 2px solid #bcb8b8;
}
