@import url("common.css");

.center-logo {
  width: 350px;
  height: 108px;
}

.email {
  width: 493px;
  height: 63px;
}

.password {
  width: 493px;
  height: 63px;
}

.login {
  color: var(--jungle_color);
}
