<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!--브라우저 스타일 초기화-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />

    <link rel="stylesheet" href="../static/css/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="center">
        <img class="center-logo" src="../static/logos/jungle_logo.svg" />
      </div>
    </div>
  </body>
</html>

<!-- <div class="login-form">
  <form>
    <input
      type="text"
      name="email"
      class="text-field"
      placeholder="아이디"
    />
    <input
      type="text"
      name="password"
      class="text-field"
      placeholder="비밀번호"
    />
    <input type="submit" value="로그인" class="submit-btn" />
  </form>
</div> -->
