<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>

    <!--브라우저 스타일 초기화-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="stylesheet" href="../static/css/login.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>

    <!-- javascript 연결 -->
    <script type="text/javascript" src="../static/js/login.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="center">
        <div class="modal">
          <div class="modal_body">
            <div class="exit">EXIT</div>
            <h1 class="title">&lt;회원가입/></h1>
            <div class="topside">
              <form>
                <input type="file" id="image" class="input_img" />
                <!-- <button type="button" onclick="upload()">Upload</button> -->
              </form>
              <div class="topright">
                <input type="text" placeholder="이름" class="join_name" />
                <input type="text" placeholder="연락처" class="join_phnum" />
                <input type="text" placeholder="객실 호수" class="join_room" />
                <input type="text" placeholder="팀" class="join_team" />
              </div>
            </div>
            <input
              type="text"
              placeholder="이메일을 입력하세요.(아이디)"
              class="join_email"
            />
            <input
              type="text"
              placeholder="비밀번호를 입력하세요."
              class="join_pw"
            />
            <input type="text" placeholder="블로그 주소" class="join_blog" />
            <div class="save" onclick="upload()">save</div>
          </div>
        </div>
        <div class="box">
          <img class="center-logo" src="../static/logos/jungle_logo.svg" />
          <form>
            <input
              type="text"
              placeholder="아이디를 입력하세요"
              class="email"
            />
            <input
              type="password"
              placeholder="비밀번호를 입력하세요"
              class="password"
            />
            <div class="box1">
              <div class="login">LOGIN</div>
              <div class="v-line">|</div>
              <div class="join">JOIN</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
