<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>main</title>

    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>

    <!-- css 연결 -->
    <link rel="stylesheet" href="../static/css/main.css" />

    <!-- javascript 연결 -->
    <script type="text/javascript" src="../static/js/main.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="center">
        <div class="logout">logout</div>
        <div class="main_info">
          <img id="jungle-logo" src="../static/logos/jungle_logo.svg" />
          <div action="">
            <div id="layout">
              <div
                class="button"
                id="testphoto"
                style="background-color: lightgray"
              >
                사진
              </div>
              <div id="detail_info">
                <div id="detail_left">
                  <div id="name" style="color: white; font-size: xx-large">
                    이름:
                  </div>
                  <div id="email" style="color: white; font-size: xx-large">
                    이메일:
                  </div>
                  <div id="blog" style="color: white; font-size: xx-large">
                    블로그 주소:
                  </div>
                </div>
                <div id="detail_right">
                  <div id="team" style="color: white; font-size: xx-large">
                    팀:
                  </div>
                  <div id="room_nb" style="color: white; font-size: xx-large">
                    호수:
                  </div>
                  <div id="phone_nb" style="color: white; font-size: xx-large">
                    전화번호:
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="stopwatch">
          <div
            class="timer_title"
            style="margin-top: 100px; font-size: xx-large; color: white"
          >
            타이머
          </div>
          <div class="wrapper" style="margin-top: 30px">
            <div
              class="time"
              style="color: white; font-weight: 1000; font-size: xx-large"
            >
              <span class="hour">00</span>
              <span class="colon">:</span>
              <span class="minute">00</span>
              <span class="colon">:</span>
              <span class="second">00</span>
              <span class="colon ms-colon">:</span>
              <span class="millisecond">00</span>
            </div>
            <div class="buttons" style="margin-top: 30px">
              <button class="start">Start</button>
              <button class="stop">Stop</button>
              <button class="reset">Reset</button>
            </div>
          </div>
        </div>
        <div class="total_time">
          <div
            class="add_time"
            style="
              color: white;
              font-weight: 1000;
              font-size: xx-large;
              margin-top: 30px;
            "
          >
            <span class="total_hour">00</span>
            <span class="total_colon">:</span>
            <span class="total_minute">00</span>
            <span class="colon">:</span>
            <span class="total_second">00</span>
            <span class="colon ms-colon">:</span>
            <span class="total_millisecond">00</span>
          </div>
          <div
            class="total_time_rank"
            style="color: white; font-size: xx-large; margin-top: 30px"
          >
            랭킹 : 1/30
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
