<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>

    <!-- css 연결 -->
    <link rel="stylesheet" href="../static/css/main.css" />

    <!-- javascript 연결 -->
    <script type="text/javascript" src="../static/js/main.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="box1">
          <img id="jungle-logo" src="../static/logos/jungle_logo.svg" />
          <div class="logout">LOGOUT</div>
        </div>
        <div class="box2">
          <img src="{{img_url}}" alt="프로필 사진" class="profile_img" />
          <!-- <div class="button" id="testphoto" style="background-color: lightgray">
            사진
          </div> -->
        </div>
        <div class="box3">
          <div class="info">
            <div
              class="name"
              id="name"
              style="color: white; font-size: xx-large"
            >
              이름 : {{name}}
            </div>
            <div
              class="email"
              id="email"
              style="color: white; font-size: xx-large"
            >
              이메일 : {{email}}
            </div>
            <div
              class="box_blog"
              id="blog"
              style="color: white; font-size: xx-large"
            >
              블로그 : <a href="{{blog}}" target="_blank">{{blog}}</a>
            </div>
          </div>
        </div>
        <div class="box4">
          <div class="info_right">
            <div
              class="team"
              id="team"
              style="color: white; font-size: xx-large"
            >
              팀 : {{ team }}
            </div>
            <div
              class="room"
              id="room"
              style="color: white; font-size: xx-large"
            >
              호수 : {{room}}
            </div>
            <div
              class="phnum"
              id="phnum"
              style="color: white; font-size: xx-large"
            >
              전화번호 : {{phnum}}
            </div>
          </div>
        </div>
        <div class="box5">
          <div class="time_left">
            <div class="timer_title">타이머</div>
            <div class="timer_num">
              <span class="hour">00</span>
              <span class="colon">:</span>
              <span class="minute">00</span>
              <span class="colon">:</span>
              <span class="second">00</span>
              <span class="colon ms-colon">:</span>
              <span class="millisecond">00</span>
            </div>
            <div class="button">
              <div class="btn_start" id="stop" onclick="cal_time()">Start</div>
            </div>
          </div>
        </div>
        <div class="box6">
          <div class="time_right">
            <div class="total_time_title">총 시간</div>
            <div class="add_time">
              <span class="total_time"
                >{{hour}} h : {{minute}} m: {{second}} s</span
              >
            </div>
            <div class="rank">랭킹 : {{ranking}}/{{total}}</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
